
/* Fondo oscuro con opacidad */
.modal {
    position: fixed; /* Fija el modal en pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho */
    height: 100vh; /* Ocupa todo el alto */
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    z-index: 999; /* Se asegura que esté por encima de todo */
    animation: fadeIn 0.5s ease-in-out; /* Animación suave */
  }

  /* Contenido del modal */
  .modal-content {
    background: #1a1a1a; /* Color oscuro para el contenido */
    padding: 2rem;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8); /* Sombra para destacar */
    max-width: 500px; 
    width: 90%;
    color: white;
    opacity: 0;
    animation: slideIn 0.5s ease-in-out forwards;
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes slideIn {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }



.btnWhite{
    width:auto;
    font-family: var(--fontFamilyIBM);
    color:#4E4E4E;
    font-size: 1rem;
    font-weight: 500;
    background-color:#ffffff;
    border-radius: 10px;
    text-decoration: none;
    padding:10px 25px;
    border:none;
    transition:0.3s ease-in-out;
}

.btnWhite:hover{
    background-color:#4D6754;
    color:#ffffff;
}
